/* globals.css */

/* Import Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Define CSS variables */
  :root {
    --radius: 0.5rem;
  }

  /* Apply global box-sizing */
  * {
    @apply box-border;
  }

  /* Global body styles */
  body {
    @apply bg-white text-black;
    font-family: 'Plus Jakarta Sans', sans-serif; /* Use custom font */
  }
}

/* Utility classes */
@layer utilities {
  /* Page padding utility */
  .page-pad {
    @apply px-[130px] max-lg:px-[50px] max-md:px-[20px];
  }

  /* Navigation item styles */
  .nav-item {
    @apply text-base border font-semibold rounded-2xl px-3 border-gray-200 cursor-pointer max-md:hidden;
  }

  .mob-nav-item {
    @apply text-base font-semibold p-2 transition-all rounded-lg cursor-pointer hover:bg-primary hover:text-white;
  }

  /* Primary button styles */
  .primary-btn {
    @apply bg-primary text-white border border-primary rounded-[36px] font-semibold hover:text-white hover:bg-primary-100 px-1;
  }

  /* Secondary button styles */
  .secondary-btn {
    @apply bg-transparent text-primary shadow-none border border-primary rounded-[36px] font-semibold hover:text-white hover:bg-primary-100 px-1;
  }

  /* Text gradient utility */
  .text-gradient {
    background: linear-gradient(90deg, hsla(214, 100%, 21%, 1) 21%, hsla(87, 71%, 44%, 1) 82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
